= render 'ppes/hourly_report_summary', { ppe: @ppe, usages: @usages }

.panel.panel-default
  .panel-body
    %h1 Szczegółowe dane
    %table.table.table-striped.table-hover
      %tr
        %th Data
        %th Suma(kWh)
        %th Status
        %th Godzinowo
      - @usages[:usages].each do |u|
        %tr{id: "usage_#{u.id}"}
          = render 'hourly_usage_details', u: u


= render 'ppes/export_csv_button'