.panel.panel-default
  .panel-body
    %h1 Wgraj odczyty
    = form_tag '/ppes/upload_usage', { :multipart => true, class: 'form-horizontal' } do
      .row
        .col-lg-10
          %label Plik z odczytami
          .form-control-wrapper.fileinput
            %input.form-control.empty{:readonly => "", :type => "text"}
              %input#inputFile{:multiple => "", :type => "file", :name => 'file'}
                .floating-label Wybierz plik...
                %span.material-input
        .col-lg-2
          %button.btn.btn-primary{:type => "submit"}
            Wgraj
            .ripple-wrapper


.panel.panel-default
  .panel-body
    %h1 Zużycie
    = form_tag '/ppes/upload_usage', { :multipart => true, class: 'form-horizontal' } do
      .row
        .col-lg-4
          .form-group
            %label.col-lg-2.control-label{:for => "select"} PPE
            .col-lg-10
              = select_tag 'ppe', options_from_collection_for_select(@ppes, "id", "code"), id:'select', class: 'form-control'
        .col-lg-3
          .form-group
            %label.col-lg-4.control-label Początek
            .col-lg-8
              %input#inputEmail.form-control{:placeholder => "Data początkowa", :type => "date"}/
        .col-lg-3
          .form-group
            %label.col-lg-4.control-label Koniec
            .col-lg-8
              %input#inputEmail.form-control{:placeholder => "Data końcowa", :type => "date"}/
        .col-lg-2
          %button.btn.btn-primary{:type => "submit"}
            Policz
            .ripple-wrapper